/* global.css Stylesheet */

body {
    color: black;
    background-color: #D9D9D9;
    overflow: overlay;
}

.navbar-container {
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #535C72;
}

.navbar {
    text-align: center;
}

.navbar-dropdown {
    background-color: #DD9E54;
}

.default-text {
    color: black;
    background-color: #D9D9D9;
}

.default-text-no-background {
    color: black;
}

.reverse-text {
    color: whitesmoke;
}

.default-clickable-text {
    color: black;
    text-decoration: none;
}

.reverse-clickable-text {
    color: whitesmoke;
    text-decoration: none;
}

.primary-clickable-text {
    color: #535C72;
    text-decoration: none;
}

.tertiary-text {
    color: darkgrey;

}

.primary-btn {
    color: whitesmoke;
    background-color: #535C72;
    border-radius: 30px;
}

.primary-btn-outline {
    color: #535C72;
    background-color: whitesmoke;
    border-radius: 30px;
    border: 4px solid #535C72;
}

.primary-btn-less-round,
.primary-btn-outline-less-round:hover {
    color: whitesmoke;
    background-color: #535C72;
    border-radius: 10px;
    border: 4px solid #535C72;
}

.primary-btn-less-round:hover,
.primary-btn-outline-less-round {
    color: #535C72;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 4px solid #535C72;
}

.primary-square {
    color: whitesmoke;
    background-color: #535C72;
}

.primary-light-dropdown {
    color: whitesmoke;
    background-color: #747D92;
    border-radius: 10px;
}

.primary-btn-outline-thick {
    color: #535C72;
    background-color: whitesmoke;
    border: 2px solid #535C72;
}

.secondary-btn {
    color: whitesmoke;
    background-color: #DD9E54;
    border-radius: 30px;
}

.secondary-btn-border {
    color: whitesmoke;
    background-color: #DD9E54;
    border-radius: 30px;
    border: 1px solid whitesmoke;
}

.secondary-btn-not-rounded {
    color: whitesmoke;
    background-color: #DD9E54;
}

.secondary-square {
    color: #535C72;
    background-color: whitesmoke;
    border: 3px solid #535C72;
}

.tertiary-btn {
    color: whitesmoke;
    background-color: #747D92;
    border: 1px solid rgb(110, 110, 110);
}

.tertiary-btn:hover {
    color: whitesmoke;
    background-color: #535C72;
    border: 1px solid rgb(110, 110, 110);
}

.success-btn {
    color: black;
    background-color: #94c692;
    border: 1px solid rgb(110, 110, 110);
}

.custom-drink-list-btn {
    background-color: rgb(245, 232, 158);
    border: 1px solid rgb(110, 110, 110);
}

.custom-drink-list-btn:hover {
    background-color: rgb(238, 214, 80);
    border: 2px solid black;
}

.btn-outline {
    border: 2px solid black;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.search-bar {
    border: 2px solid #535C72;
}

.square-inline {
    display: flex;
    align-items: center;
}

.img-border {
    border: 4px solid #535C72;
    border-radius: 30px;
}

.img-no-border-rounded {
    border-radius: 30px;
}

.image-container {
    position: relative;
}

.overlay-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.add-review-photo-container {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 20px;
}

.add-review-photo-background {
    width: 100px;
    height: 100px;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: lightgrey;
}

.add-drink-photo-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 20px;
}

.add-drink-photo-container-text {
    width: 150px;
    height: 100px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.add-drink-photo-container-close {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 10px;
}

.add-drink-photo-background {
    width: 150px;
    height: 150px;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: lightgrey;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-text, .bi-star-fill {
    color: #DD9E54;
}

.scrollable {
    height: 120px;
    max-height: 120px;
    overflow-y: auto;
}

.scrollable-long {
    height: 240px;
    max-height: 240px;
    overflow-y: auto;
}

.scrollable-listings {
    height: 1000px;
    max-height: 1000px;
    overflow-y: auto;
}

.scrollable-expressions {
    height: 600px;
    max-height: 600px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: darkgrey;
    border-radius: 10px;
}

.no-margin {
    margin: 0px
}

.no-padding {
    padding: 0px
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image-lg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.send-icon {
    rotate: 45deg;
}

.p-text-lg {
    font-size: 1.1rem;;
}

.dotted-line {
    border-bottom: thin grey dotted;;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

#qrcode {
    width: 160px;
    height: 160px;
}