body {
    /* colours */
    background-color: #D9D9D9 ;

    /* margins */
    margin-left: 10px;
    margin-right: 10px;

    /* padding */
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
    border-bottom: 3px solid #535C72;
}

.navbar-brand {
    margin-bottom: 10px;
}

.custom-btn {
    color: whitesmoke;
    background-color: #535C72;
}

.custom-btn:hover {
    color: whitesmoke;
    background-color: #747D92;
}

.custom-btn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow:2px #747D92;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.search-bar {
    border: 2px solid #535C72;
}